# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/
.venv/
.env
.env.*
.coverage*
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Docker
*.log
docker-data/

# Node (just in case for future UI)
node_modules/
